/* es defineix l'estil del cos general de la pàgina */
body{
    display:flex;
    justify-content: center;
    align-items: center;
	background-image: url("wallpaper.jpg");
	background-position: no-repeat;
}
/* definim l'estil del taulell */
.taulell {
	display: flex;
	padding: 30px;
	width: 1080px;
	background: #829191;
	border-radius: 5px;
}

/* definim la tipografia tant del taulell com de tots els "childs" */
.taulell * {
	font-family: Arial, Helvetica, sans-serif;
}

/* fem que es mostrin totes les columnes repartides equitativament */
.taulell__column {
	flex: 1;
}

/* definim tipografia i color dels titols */
.taulell__column-title {
	margin-bottom: 20px;
	font-size: 30px;
	color: #2C423F;
	user-select: none;
}

/* definim la mostra i input de dades */
.taulell__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: #7785AC;
	border-radius: 5px;
}

/* definim una estil per les prioritaries */
.taulell__item-havepriority {
	padding: 10px 15px;
	box-sizing: border-box;
	background: #A5E6BA;
	border-radius: 5px;
}

/* definim estil per al botó d'afegir */

.taulell__add-item {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
}

/* Degut a que volem implementar drag'n'drop ens veiem "obligats" a crear divs amb zona draggable, i podem
optar a donar-los estil també */
.taulell__dropzone {
	height: 10px;
	transition: background 0.15s, height 0.15s;
}

.taulell__dropzone--active {
	height: 20px;
	background: rgba(0, 0, 0, 0.25);
}